<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
    	<!-- Las 4 primeras propiedades son las minimas requeridas para trabajar con Hibernate -->
    	<property name="connection.drive_class">
    	<!-- Driver de SQL - lo mismo que se utiliza con JDBC -->
    		com.mysql.jdbc.Driver
    	</property>
    	
    	<property name="connection.url">
    	<!-- URL de base de datos - el mismo que se utiliza con JDBC -->
    		jdbc:mysql://127.0.0.1:3306/camiloClase
    	</property>
    	
    	<property name="connection.username">
    		root
    	</property>
    	
    	<property name="connection.password">
    		root
    	</property>
    	
    	<property name="dialect">
    	<!-- Para decirle cual motor base de datos se está utilizando -->
    		org.hibernate.dialect.MySQLDialect
    	</property>
    	
    	<property name="show_sql">
    	<!--En consola en tiempo de desarrollo  salgan las consultas que está haciendo hibernate
    	Util para debugging -->
    		true
    	</property>
    	
    	<!-- Mapping por cada archivo de mapeo -->
    	<mapping resource="co/edu/udea/iw/dto/Ciudad.hbm.xml"/>
    	
    	
    </session-factory>
</hibernate-configuration>
